:root {
    --Headerbkcolor: #13293d;
    --HeaderTxtClr: white;
    --AnchorClr: cyan;
    --Activetxt: red;
}

.container {
    position: relative;
}


header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2%;
    max-height: 200px;
    /*Color variants*/
    background-color: var(--Headerbkcolor);
    color: var(--HeaderTxtClr);
}

h1 {
    font-size: 200%;
}

h1::selection {
    user-select: all;
    color: var(--Activetxt);
}

h2 {
    font-size: 175%;
}

div nav ul {
    position: relative;
    right: 16px;
    top: 16px;
    min-width: 400px;
    font-size: larger;
    overflow-x: hidden;
}

div nav ul li {
    display: inline;
}

nav a {
    background-color: unset;
    color: var(--AnchorClr);
    font-weight: bold;
    text-decoration: underline;
    transition: all 500ms;
}

nav a:hover {
    color: var(--HeaderTxtClr);
    font-size: x-large;
    transition: 500ms;
}

nav a:active {
    color: var(--Activetxt);
    transition: all 200ms;
}

.heromain {
    height: 300px;
    width: 100%;
    background-image: url("../Images/DSC00215.JPG");
    background-size: cover;
    background-position: 100% 35%;
    position: inherit;
    margin-bottom: 1rem;
}

.heromain h2 {
    position: absolute;
    right: 16px;
    bottom: 8px;
    padding: 1%;
    /*Added style to the welcome section so it looks more similart to challenge*/
    border-style: solid;
    border-color: var(--AnchorClr);
    background-color: var(--Headerbkcolor);
    color: var(--HeaderTxtClr);
}

#gridlayout {
    display: grid;
    grid-template:
        'aboutme main main '
        'work main2 main2 '
        'menu3 main3 main3 '
        'footer footer footer';
}

#about-me pre{
    grid-area: 'aboutme';
}
#NextTo {
    border-right: #13293d solid 4px;
}
.aboutmep{
    grid-area: 'main';

}

#Works {
    grid-area: 'work';
}


/*
#wrapper {
    text-align: center;
    margin-bottom: 4rem;
}

#NextTo {
    text-align: right;
    border-right: #13293d solid 4px;
    margin: 0 1rem 0 10rem;
    padding: 0 1rem 0 0;
    height: 140px;

}

section aside {
    display: block;
    float: left;
}


.aboutmep {
    margin-left: 2rem;
    text-align: left;
} */