:root {
    --Headerbkcolor: #13293d;
    --HeaderTxtClr: white;
    --AnchorClr: cyan;
    --Activetxt: red;
}

.container {
    position: relative;
}

body {}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2%;
    /*Color variants*/
    background-color: var(--Headerbkcolor);
    color: var(--HeaderTxtClr);
}

h1 {
    font-size: 200%;
}

h1::selection {
    user-select: all;
    color: var(--Activetxt);
}

h2 {
    font-size: 175%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    font-size: larger;
}

nav a {
    background-color: unset;
    color: var(--AnchorClr);
    font-weight: bold;
    text-decoration: none;
    transition: all 500ms;
}

nav a:hover {
    color: var(--HeaderTxtClr);
    font-size: x-large;
    transition: 500ms;
}

nav a:active {
    color: var(--Activetxt);
    transition: all 200ms;
}

.heromain {
    height: 300px;
    width: 100%;
    background-image: url("../Images/DSC00215.JPG");
    background-size: cover;
    background-position: 100% 35%;
    position: inherit;
    margin-bottom: 1rem;
}

.heromain h2 {
    position: absolute;
    right: 16px;
    bottom: 8px;
    padding: 1%;
    border-style: solid;
    border-color: var(--AnchorClr);
    background-color: var(--Headerbkcolor);
    color: var(--HeaderTxtClr);
}

#wrapper {
    text-align: center;
}

#NextTo{
    text-align: right;
}

section aside {
    display: block;
    float: left;
    margin: 0 1rem 0 10rem;
    padding: 0 1rem 0 0;
    height: 140px;
    border-right: #13293d solid 4px;}

.aboutmep {
    margin-left: 2rem;
    text-align: left;
}

/*
.wrapper{
    text-align: center;
}
section aside {
    display: block;
    float: left;
    margin: 0 0 0 10rem;
    padding: 0 0 0 0;
    height: 170px;
    border-right: #13293d solid 4px;
}
section aside h1 {
    color: gray;

}
.aboutmep {
    display: block;
    text-align: left;
    margin: 2rem 0 2rem 4rem;
} */