:root {
    --Headerbkcolor: #13293d;
    --HeaderTxtClr: white;
    --AnchorClr: cyan;
    --Activetxt: red;
    --Overlayimg: rgba(0, 225,225,0.3)
}

.container {
    position: relative;
}

h1 {
    font-size: 200%;
}
h1::before{
    background-image: url(/assets/Images/Placeholder.jpg);
}

h1::selection {
    user-select: all;
    color: var(--Activetxt);
}

h2 {
    font-size: 175%;
}
h3 {
    font-size: 150%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
    align-items: end;
    /* max-height: 200px; */
    /*Color variants*/
    background-color: var(--Headerbkcolor);
    color: var(--HeaderTxtClr);
}

header img {
    /* Setting the img small enough to not overflow to the whole page */
    max-height: 4%;
    max-width: 4%;
    /* Prevent the img from cutting the Name/title */
    display: flex;
}



div nav ul {
    position: relative;
    font-size: larger;
    overflow-x: hidden;
}

div nav ul li {
    display: inline;
}

nav a {
    background-color: unset;
    color: var(--AnchorClr);
    font-weight: bold;
    text-decoration: underline;
    transition: all 500ms;
}

nav a:hover {
    color: var(--HeaderTxtClr);
    font-size: x-large;
    transition: 500ms;
}

nav a:active {
    color: var(--Activetxt);
    transition: all 200ms;
}

.heromain {
    height: 300px;
    width: 100%;
    background-image: url("../Images/DSC00215.JPG");
    background-size: cover;
    background-position: 100% 35%;
    position: inherit;
    margin-bottom: 1rem;
}

.heromain h2 {
    position: absolute;
    right: 16px;
    bottom: 8px;
    padding: 1%;
    /*Added style to the welcome section so it looks more similart to challenge*/
    border-style: solid;
    border-color: var(--AnchorClr);
    background-color: var(--Headerbkcolor);
    color: var(--HeaderTxtClr);
}

#about-me {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
    /* border-style: solid; */
}

.titleasdie {
    width: 20%;
    border-right: var(--Headerbkcolor) solid;
    position: relative;
    text-align: end;
}

.aboutmep {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.Myparg {}

.aboutmep pre {
    margin: -4px 0 10px -50px;
    display: flex;
    position: relative;
}

#Work-sec {
    display: flex;
    /* width: 100%; */
    margin-bottom: 2%;
    /* border-style: solid; */
}

#Contact-me {
    display: flex;
    width: 100%;
    /* border-style: solid; */
}

.large-card {
    /* Display flex to center img */
    display: flex;
    justify-content: center;
    /* Add Img */
    background-image: url(/assets/Images/digital-marketing-meeting.jpg);
    background-size: cover;
    min-height: 300px;
    min-width: 400px;
    /* Add marging to prevent overflow */
    margin: 0 10% 0;
    /* Proper x & y img fitting */
    background-position: 10% 35%;
    /* Add a border */
    border: var(--AnchorClr) solid;
}


/* Target the large-card size and make "overlay" */
.large-card a{
    /* make child position relative to the parent */
    position: relative;
    /* Cover the whole space */
    width: 100%;
    /* Overlay effect */
    background-color: rgba(0, 225, 225, 0.3);
    transition: 300ms;

}
/* disapear overlay */
.large-card a:hover {
    background-color: transparent;
    transition: 399ms;
    }

.Subtitleh3 {
    display: table;
    position: relative;
    bottom: 40px;
    border: #ff0000 solid;
    background-color: #13293d;
    color: var(--HeaderTxtClr);

}

.large-card a img .Subtitleh3 {
    display: inline;

}

.small-card-container {
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
    /* background-image: url(/assets/Images/digital-marketing-meeting.jpg); */
    /* min-height: 200px */


}

.Smallimg {
    min-height: 150px;
    min-width: 400px;
    background-image: url(/assets/Images/digital-marketing-meeting.jpg);
    background-position: 0% 0%;
    background-size: cover;
    justify-content: space-between;
    /* background-color: red; */
}
/* fit heading to bottom left corner */
.Smallimg h3{
    position: relative;
}

@media screen and (max-width: 768px){
    .small-card-container {
        flex-direction: column;
    }
}